#interactive {
  font-family: 'Lato';
  font-size: 20px;
  font-weight: 400;
  line-height: 162.5%;
  color: #353535;
  text-align: left;

  border-top: 1px solid #D2D2D2;
  padding-top: 24px;
}

#buttons {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #696969;

  background: #E3E3E3;
  border-radius: 25px;

  padding: 14px 2px;
}

.button {
  color: #696969;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;

  padding: 10px 24px;
  cursor: pointer;
}

.button.selected {
  color: #FFFFFF;
  background: #000000;

  box-sizing: border-box;
  border-radius: 25px;
}

#description {
  color: #696969;

  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-top: 18px;
  margin-bottom: 40px;
}

.slider {
  margin-bottom: 30px;
}

.slider-name {
  color: #000000;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.slider-name input {
  margin-right: 17px;
}

.slider.faded .slider-name {
  color: #696969;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #9D9D9D;
  box-sizing: border-box;
  background-color: white;
}
input[type=checkbox]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 4px;
  height: 8px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 5px;
}

.info {
    position: relative;
    display: inline-block;
    text-align: center;
    background: #C4C4C4;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    margin-left: 8px;
    cursor: pointer;
}

.info:before {
    content:'i';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    align-items: center;

    color: #000000;
}

.info p.show {
  display: block;
  transform-origin: 100% 100%;
  -webkit-animation: fadeIn 0.3s ease-in-out;
  animation: fadeIn 0.3s ease-in-out;
}

.info p {

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #FFFFFF;

  display: none;
  text-align: left;
  background-color: #000000;
  padding: 15px;
  width: 220px;
  left: -115px;
  position: absolute;
  z-index: 100;
}

.info p::after {
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  content: "";
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: 100%;
}

.slider svg {
  margin-left: 27px;
}

.slider .track {
  stroke: #000000;
  stroke-width: 5px;
}

.slider.faded .track {
  stroke: #9D9D9D;
  stroke-width: 5px;
}

.slider .track-inset {
  stroke: #D2D2D2;
  stroke-width: 5px;
}

g.slider path {
  color: #696969;
  stroke-width: 2px;
}

.slider.faded path {
  fill: #ECECEC;
}

#filters-title {
  color: #000000;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 15px;
}

.filter {
  color: #9D9D9D;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  box-sizing: border-box;
  border-radius: 8px;

  padding: 4px 8px;
  margin-right: 8px;

  cursor: pointer;
}

.filter.selected {
  color: #FFFFFF;
  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
}

#left-col {
  display: inline-block;
  width: 23%;
  padding: 17px 23px;
}

#right-col {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  border-left: 2px solid #D2D2D2;
  padding-left: 40px;
}

.pass-div {
  border-bottom: 1px solid #D2D2D2;
  padding: 35px 0;
}

.pass-div:last-of-type {
  border: 0;
}

.pass-name, .institution-div, .institution-level-name, .institution-level-bar {
  display: inline-block;
}

.pass-name {
  vertical-align: top;
  width: 75px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;

  color: #353535;
}

.institution-level {
  margin-bottom: 40px;
}

.institution-level:last-of-type {
  margin-bottom: 0;
}

.institution-level-name {
  vertical-align: top;
  width: 150px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  text-align: right;
  color: #353535;

  margin-right: 20px;
}

.svg-bar {
  display: block;
  margin-bottom: 9px;
}

.svg-bar tspan {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  fill: #000000;
}

.svg-bar .secondary-metric {
  fill: #696969;
}
