#left-col {
  display: inline-block;
  width: 25%;
}

#right-col {
  display: inline-block;
  vertical-align: top;
  width: 74%;
}

.pass-name {
  vertical-align: top;
}

.pass-name, .institution-div {
  display: inline-block;
}
